.main-container {
    display: flex;
  }
  
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
  }
  
  .main {
    margin-left: 280px;
    padding: 30px;
    width: calc(100% - 280px);
    background-color: #f1f5f9;
    color: #0f172a;
    min-height: 100vh;
  }
  
  @media only screen and (max-width: 1300px) {
    .side-nav {
      width: 100px;
    }
    
    .main {
      margin-left: 100px;
      width: calc(100% - 100px);
    }
  }