<div class="nav-items">
  <div class="brand">
    <h1>E-Bank</h1>
  </div>

  <div class="nav-item" routerLink="/client" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <fa-icon [icon]="faTachometerAlt"></fa-icon>
    <span>Dashboard</span>
  </div>
  <div class="nav-item" routerLink="/client/account" routerLinkActive="active">
    <fa-icon [icon]="faUniversity"></fa-icon>
    <span>Mes Comptes</span>
  </div>
  <div class="nav-item" routerLink="/client/virement" routerLinkActive="active">
    <fa-icon [icon]="faExchangeAlt"></fa-icon>
    <span>Virements</span>
  </div>
  <div class="nav-item" routerLink="/client/recharges" routerLinkActive="active">
    <fa-icon [icon]="faStore"></fa-icon>
    <span>Recharges</span>
  </div>
  <div class="nav-item" routerLink="/client/crypto" routerLinkActive="active">
    <fa-icon [icon]="faWallet"></fa-icon>
    <span>Portefeuille Crypto</span>
  </div>
  <div class="nav-item" routerLink="/client/budget" routerLinkActive="active">
    <fa-icon [icon]="faBarChart"></fa-icon>
    <span>Budget & Dépenses</span>
  </div>
  <div class="nav-item" routerLink="/client/assistant" routerLinkActive="active">
    <fa-icon [icon]="faBoxOpen"></fa-icon>
    <span>Assistant</span>
  </div>
  <div class="nav-item" routerLink="/setting" routerLinkActive="active">
    <fa-icon [icon]="faUserCog"></fa-icon>
    <span>Paramètres du Compte</span>
  </div>
  <div class="nav-item" routerLink="/logout" routerLinkActive="active">
    <fa-icon [icon]="faSignOutAlt"></fa-icon>
    <span>Log Out</span>
  </div>
</div>